<div>
    <div>
      <div>
        <!-- STORE NAME / STORE LOGO -->
        <div>
          <h1>{{ shop.name }}</h1>
        </div>
  
        <!-- NAVIGATION MENU -->
        <nav>
          {%for link in linklists.main-menu.links %}
          {%if link.links != blank %}
          <div class="relative">
            <button type="button" >
              {{link.title}}
            </button>
          </div>
          {%else %}
          <div>
            <a href="{{ link.url }}">{{link.title}}</a>
          </div>
          {%endif %}
          {%endfor %}
        </nav>
  
        <div>
          <a href="{{ routes.cart_url }}">
            Cart
          </a>
  
          <a href="{{ routes.account_login_url }}">Login</a>
          <a href="{{ routes.account_register_url }}">Register</a>
        </div>
      </div>
    </div>
  </div>